.mainContainerWeather {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mainDisplayWeather {
  display: flex;
  flex-direction: column;
}
.tempImg {
  width: 420px;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
.todayWeather {
  display: flex;
  flex-direction: row;
}
.converterC {
  text-decoration: none;
  color: black;
  cursor: "pointer";
  margin-right: 5px;
  margin-left: 10px;
  font-size: 18px;
}
.converterF {
  text-decoration: none;
  color: black;
  cursor: "pointer";
  margin-left: 5px;
  font-size: 18px;
}
.converterC:hover,
.converterF:hover {
  color: black;
}
.converterTemp {
  margin-left: 50px;
}
